In [11]:
import chardet
import pandas as pd
filename = "경상남도_창원시_공장등록현황_20210831.csv"
with open(filename, 'rb') as f:
    result = chardet.detect(f.readline())  # or read() if the file is small.
    print(result['encoding'])

UTF-8-SIG

In [25]:
data = pd.read_csv('경상남도_창원시_공장등록현황_20210831.csv', encoding='UTF-8-SIG')
data

,순번,회사명,공장대표주소,업종명,생산품,전화번호,팩스번호
0,1,(사)한국장애인사회복지회사회복지부,경상남도 창원시 진해구 웅천동로 204 (성내동),구조용 금속 판제품 및 공작물 제조업 외 1 종,"울타리,난간",055-547-1438,30331301438
1,2,(윈펠)WINPELL,경상남도 창원시 성산구 연덕로27번길 60 (웅남동),전투용 차량 제조업,차륜형 장갑차 휠(림/디스크),055-271-7772,055-261-7774
2,3,(유)국제보링1급정비,경상남도 창원시 마산회원구 내서읍 중리공단로 149 (현대자동차서비스),자동차 구조 및 장치 변경업 외 1 종,자동차정비,055-232-4442,055-232-3663
3,4,(유)두루산업사,"경상남도 창원시 마산회원구 봉암공단9길 10 (봉암동, (유)두루산업사)",공기 조화장치 제조업 외 2 종,"생산품 가습기, 차아염소산수 제조장치",055-251-3040,055-251-4619
4,5,(유)리앤리테크,경상남도 창원시 성산구 반월로 16 (신촌동) 외 2필지,그 외 자동차용 신품 부품 제조업 외 3 종,자동차부품,055-603-3106,055-603-3114
...,...,...,...,...,...,...,...
4569,4570,희성테크,"경상남도 창원시 성산구 월림로67번길 5 (신촌동, 신촌동공장)",경 인쇄업 외 1 종,라벨류,055-286-8450,055-286-8453
4570,4571,히트케이(주),"경상남도 창원시 마산합포구 3·15대로 298, 504호(서성동, 경남대학교 창업보육관)",그 외 기타 전자부품 제조업,면상발열체 모듈,NaN,NaN
4571,4572,히팅플러스,"경상남도 창원시 성산구 완암로 50, 넥스동 7층 705 (성산동, SK테크노파크)",그 외 기타 금속가공업,금속 구조물,NaN,NaN
4572,4573,힐데갈드화장품,경상남도 창원시 의창구 차룡로48번길 44 (팔용동) 1동 5층 505호,화장품 제조업,천연화장품,055-822-8080,NaN
4573,4574,힘멜테크,"경상남도 창원시 성산구 완암로 50, 테크동 9층 913 (성산동, SK테크노파크)",기타 인쇄업 외 1 종,인쇄물,055-276-5764,055-901-0260

In [17]:
data.shape

(4574, 7)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4574 entries, 0 to 4573
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순번      4574 non-null   int64
 1   회사명     4574 non-null   object
 2   공장대표주소  4574 non-null   object
 3   업종명     4574 non-null   object
 4   생산품     4574 non-null   object
 5   전화번호    4125 non-null   object
 6   팩스번호    3964 non-null   object
dtypes: int64(1), object(6)
memory usage: 250.3+ KB

In [19]:
data.columns

Index(['순번', '회사명', '공장대표주소', '업종명', '생산품', '전화번호', '팩스번호'], dtype='object')

In [22]:
kto_data = pd.read_excel('kto_total.xlsx')
kto_data

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,202825,1750,89,549,3971,209184,2010-01,아시아,97.0,50.6
1,대만,35788,41,17,37,516,36399,2010-01,아시아,98.3,8.9
2,홍콩,13874,55,0,21,595,14545,2010-01,아시아,95.4,3.5
3,마카오,554,0,0,0,0,554,2010-01,아시아,100.0,0.1
4,태국,13374,39,13,53,4335,17814,2010-01,아시아,75.1,3.3
...,...,...,...,...,...,...,...,...,...,...,...
6955,대양주 기타,519,1,6,9,74,609,2019-08,대양주,85.2,0.0
6956,남아프리카공화국,634,6,1,11,1235,1887,2019-08,아프리카,33.6,0.1
6957,아프리카 기타,2081,593,165,841,1184,4864,2019-08,아프리카,42.8,0.2
6958,국적미상,36,1,0,8,12,57,2019-08,기타대륙,63.2,0.0
6959,교포,0,0,0,0,16560,16560,2019-08,교포,0.0,0.0

In [23]:
kto_data.shape

(6960, 11)

In [24]:
kto_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6960 entries, 0 to 6959
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   국적        6960 non-null   object
 1   관광        6960 non-null   int64
 2   상용        6960 non-null   int64
 3   공용        6960 non-null   int64
 4   유학/연수     6960 non-null   int64
 5   기타        6960 non-null   int64
 6   계         6960 non-null   int64
 7   기준년월      6960 non-null   object
 8   대륙        6960 non-null   object
 9   관광객비율(%)  6960 non-null   float64
 10  전체비율(%)   6960 non-null   float64
dtypes: float64(2), int64(6), object(3)
memory usage: 598.2+ KB